<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melhc.xiji"
    android:versionCode="23"
    android:versionName="4.2.1" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <meta-data
            android:name="Channel ID"
            android:value="小米商城" />

        <activity
            android:name="com.example.account.login.EntranceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.account.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.account.login.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.account.setting.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.account.query.QueryActivity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.account.setting.RechargeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.account.setting.GueActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.account.login.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.niceapp.lib.tagview.widget.TagActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.example.account.add.AddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.account.query.QueryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.account.query.QueryActivity1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.account.query.QueryActivity3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.avos.avoscloud.feedback.ThreadActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="com.weibo.sdk.WeiboActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <data
                    android:host="www.sina.com"
                    android:scheme="http" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1101818462" />
            </intent-filter>
        </activity>
        <activity android:name=".ReturnActivity" >
        </activity>

        <receiver
            android:name="com.example.account.setting.AlarmReceiver"
            android:process=":remote" >
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </receiver>

        <service android:name="com.example.account.setting.SendService" >
        </service>
    </application>

</manifest>